In [10]:
import pandas as pd
import numpy as np
from numpy.random import seed
from numpy.random import rand
from sklearn.ensemble import RandomForestRegressor

In [6]:
seed(1)
x1=rand(30)
x2=rand(30)
x3=rand(30)
y=rand(30)
df=pd.DataFrame({'x1':x1,'x2':x2,'x3':x3,'y':y})
df.head()

         x1        x2        x3         y
0  0.417022  0.098347  0.102334  0.114746
1  0.720324  0.421108  0.414056  0.949489
2  0.000114  0.957890  0.694400  0.449912
3  0.302333  0.533165  0.414179  0.578390
4  0.146756  0.691877  0.049953  0.408137

In [17]:
x=df[['x1','x2','x3']]
y=df['y']

#model
model=RandomForestRegressor()
model.n_estimator=150
model.fit(x,y)
y_pred = model.predict(x)
R2=model.score(x,y)
print("y_prediction =",y_pred)
print("Coefficient of determination =",R2)
df['y_pred']=y_pred
df.head()

y_prediction = [0.39856678 0.80130342 0.47786806 0.64507665 0.46378494 0.42700734
 0.74226147 0.54198226 0.20988588 0.53366986 0.29059373 0.50735332
 0.79307748 0.3117599  0.84578807 0.62728363 0.18428943 0.86308592
 0.7318708  0.94119434 0.24414981 0.21344581 0.8601649  0.77820164
 0.28638148 0.53010663 0.66722654 0.78153963 0.71554605 0.17200023]
Coefficient of determination = 0.8584600888099783

         x1        x2        x3         y    y_pred
0  0.417022  0.098347  0.102334  0.114746  0.398567
1  0.720324  0.421108  0.414056  0.949489  0.801303
2  0.000114  0.957890  0.694400  0.449912  0.477868
3  0.302333  0.533165  0.414179  0.578390  0.645077
4  0.146756  0.691877  0.049953  0.408137  0.463785

In [23]:
SE=((df['y_pred']-df['y'])**2)
MSE=SE.mean()
MSE

0.014323014317824758